.sonar
rebel.xml
.classpath
.settings
.project
.DS_Store
server/gen/
classes
*~
*.eml
.idea/
out
server/out
server/lib
*.iml
test-output/
target
atlassian-ide-plugin.xml
server/config/db.properties
logs
server/logs
server/logs/
local.properties
.git_pull_timestamp
*nb-configuration.xml
*nbactions.xml
*.workfile